name: "Docs CI"

on:
  push: {}
  pull_request: {}

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-docs:
    name: Build documentation
    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y doxygen graphviz cmake ninja-build

      - name: Configure (CMake)
        run: cmake -G Ninja -S . -B build -DBUILD_DOCS=ON -DCMAKE_BUILD_TYPE=Release

      - name: Build docs
        run: cmake --build build --target docs

      - name: Upload HTML docs artifact
        uses: actions/upload-artifact@v4
        with:
          name: docs-html
          path: build/docs/html

      - name: Setup Pages
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: actions/configure-pages@v4

      - name: Upload to GitHub Pages
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: actions/upload-pages-artifact@v3
        with:
          path: build/docs/html/

      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        id: deployment
        uses: actions/deploy-pages@v4
